
/*General Styles*/

:root {
    --bitcoin-orange: #F7931A;
    --soft-orange: #FFE9D5;
    --secondary-blue: #1A9AF7;
    --soft-blue: #E7F5FF;
    --warm-black: #201E1C;
    --warm-black1: #282623;
    --grey: #BABABA;
    --off-white: #FAF8F7;
    --just-white: #FFFFFF;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: 'Open Sans', sans-serif;
}

/*Header Container Styles*/

header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 320px;
    height: 334px;
    text-align: center;
    background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
}

header img {
    width: 150px;
    height: 24px;
    margin-top: 60px;
    align-self: center;
}

.container {
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    height: 218px;
    margin-top: 40px;
    text-align: center;
    align-self: center;
}

.container h1 {
    width: 100%;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white);
}

.container #text {
    margin-top: 24px;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: var(--soft-orange);
}

.container .button {
    position: absolute;
    top: 270px;
    left: calc(50% - 118px);
    display: block;
    margin-top: 35px;
    padding: 15px;
    width: 229px;
    height: 48px;
    border-radius: 4px;
    background-color: var(--off-white);
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
    font-size: 1.4rem;
    font-weight: bold;
    color: var(--warm-black);
    text-decoration: none;
}

.container .button span {
    display: inline-block;
    width: 13px;
    height: 8px;
    margin-left: 10px;
    background-image: url('./assets/icons/down-arrow.svg');
}

/*Main Container Styles 1st section*/

main {
    width: 100%;
    min-width: 320px;
    height: auto;
    background-color: var(--off-white);
}

main .tasas {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 320px;
    padding-top: 60px;
    text-align: center;
}

.description h1 {
    margin: 40px 15px 0 15px;
    font-size: 2.4rem;
    line-height: 2.6rem;
    color: var(--warm-black);
 }

 .description p {
    margin: 24px 15px 0 15px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #757575;
 }

 .coins-table {
    width: 70%;
    min-width: 235px;
    max-width: 500px;
    height: 360px;
    margin: 0 auto;
    font-family: "Inter", sans-serif;
 }

 .coins-table #coins-table-title {
    display: flex;
    width: 86%;
    margin: 48px auto 12px;
    max-width: 229px;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 2.3rem;
    color: var(--bitcoin-orange);
 }

 .coins-table .main-coins-table {
    width: 90%;
    min-width: 230px;
    max-width: 300px;
    height: 250px;
    margin: 0 auto;
 }

 .main-coins-table table {
    width: 100%;
    height: 100%;
 }

 .main-coins-table td {
    width: 50%;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.9rem;
    color: var(--grey);
    background-color: var(--just-white);
 }

 .main-coins-table .table__top-left {
    border-top-left-radius: 8px;
 }

 .main-coins-table .table__top-right {
    border-top-right-radius: 8px;
 }

 .main-coins-table .table__bottom-right {
    border-bottom-right-radius: 8px;
 }

 .main-coins-table .table__bottom-left {
    border-bottom-left-radius: 8px;
 }

 .main-coins-table .table__right {
    font-weight: normal;
    font-size: 1.4rem;
    line-height: 1.7rem;
    color: #757575;
 }

 .main-coins-table .down {
    display: inline-block;
    width: 14px;
    height: 12px;
    margin-left: 5px;
    background-image: url(./assets/icons/trending-down.svg);
    background-repeat: no-repeat;
 }

 .main-coins-table .up {
    display: inline-block;
    width: 14px;
    height: 12px;
    margin-left: 5px;
    background-image: url(./assets/icons/trending-up.svg);
    background-repeat: no-repeat;
 }

 /*Main Container Styles 2nd section*/

.main-product-detail {
   position: relative;
   width: 100%;
   min-width: 320px;
   height: 932px;
   padding-top: 64px;
   background-color: #201E1C;
}

.main-product-detail .chip {
   position: absolute;
   top: -10px;
   left: calc(50% - 20px);
   background-image: url(./assets/icons/batata.svg);
   width: 40px;
   height: 25px;
}
   


.intro .main-title {
   width: 80%;
   margin: 0 auto;
   text-align: center;
   font-size: 2.4rem;
   font-weight: 700;
   line-height: 2.6rem;
   color: var(--just-white);
}

.intro .main-subtitle {
   width: 85%;
   margin: 24px auto 32px;
   text-align: center;
   font-size: 1.4rem;
   font-weight: 500;
   line-height: 1.8rem;
   color: #808080;
}

.main-cards-detail .product-detail-card {
   width: 90%;
   min-height: 150px;
   min-width: 288px;
   padding: 20px;
   max-width: 400px;
   margin: 16px auto;
   border-radius: 8px;
   background-color: var(--warm-black1);
   box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.16);
}

.product-detail-card .product-detail-title {
   font-size: 1.8rem;
   font-weight: 700;
   margin-top: 12px;
   line-height: 1.8rem;
   color: var(--just-white);
}

.product-detail-card .product-detail-body {
   margin-top: 10px;
   font-size: 1.4rem;
   font-weight: 500;
   line-height: 1.8rem;
   color: #808080;
}

/*2nd section span images*/

.clock {
   display: inline-block;
   background-image: url(./assets/icons/clock.svg);
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
   width: 25px;
   height: 25px;
   
}

.eye {
   display: inline-block;
   background-image: url(./assets/icons/eye.svg);
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
   width: 25px;
   height: 25px;
}

.dollar-sign {
   display: inline-block;
   background-image: url(./assets/icons/dollar-sign.svg);
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
   width: 25px;
   height: 25px;
}

.check-circle {
   display: inline-block;
   background-image: url(./assets/icons/check-circle.svg);
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
   width: 25px;
   height: 25px;
}

/*3rd section (image)*/

.bitcoin-image-container {
   width: 100%;
   min-width: 320px;
   height: 50vh;
   background-image: url(./assets/img/bitcoinbaby2x.jpg);
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
}

/*4th section (Suscription Plans)*/

.suscription {
   width: 100%;
   min-width: 320px;
   height: auto;
   padding-bottom: 65px;
   background-color: var(--off-white);
}

.suscription-texts {
   width: 90%;
   min-width: 320px;
   margin: 15px auto;
   text-align: center;
}

.suscription-title {
   margin-top: 50px;
   font-size: 2.4rem;
   font-weight: 700;
   line-height: 2.6rem;
   color: var(--warm-black);
}

.suscription-paragraph {
   margin: 24px 20px;
   font-size: 1.4rem;
   font-weight: 500;
   line-height: 1.8rem;
   color: #757575;
}

/*Suscription Card*/

.suscription-plans-card {
   position: relative;
   width: 190px;
   min-width: 190px;
   height: 247px;
   text-align: center;
   margin: 50px auto;
   border-radius: 8px;
   background-color: var(--just-white);
   box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
}

.suscription-sign {
   position: absolute;
   scroll-snap-align: center;
   display: flex;
   align-items: center;
   justify-content: center;
   width: 54%;
   height: 31px;
   top: -15px;
   left: calc(50% - 52px);
   border-radius: 8px;
   font-family: 'Inter';
   font-style: normal;
   font-weight: 700;
   font-size: 12px;
   color: var(--just-white);
   line-height: 15px;
   border: 1px solid var(--bitcoin-orange);
   background-color: var(--bitcoin-orange);
}

.suscription-payments h2{
   padding-top: 31px;
   font-weight: 600;
   font-size: 1.4rem;
   line-height: 1.8rem;
   
}

.suscription-number span {
   font-size: 1.2rem;
}

.suscription-number {
   font-family: 'Inter';
   font-size: 5.2rem;
   font-weight: 700;
   line-height: 6.3rem;
   letter-spacing: -4px;
}

.suscription-saving {
   margin-bottom: 15px;
   font-family: 'Inter';
   font-style: normal;
   font-weight: 500;
   font-size: 1.2rem;
   line-height: 1.5rem;
   color: #757575;
}

.anchor {
   width: 100%;
   display: flex;
   justify-content: center;
}

.button {
   width: 70%;
   height: 48px;
   display: flex;
   justify-content: center;
   align-items: center;
   font-weight: 700;
   font-size: 1.4rem;
   text-decoration: none;
   color: #201E1C;
   border: 2px solid var(--bitcoin-orange);
   border-radius: 8px;
   border-color: var(--bitcoin-orange);
}

.button span {
   display: flex;
    width: 30px;
    height: 44px;
    background-image: url(./assets/icons/orange-right-arrow.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.suscription-plans-slider {
   display: flex;
   padding: 0 160px;
   gap: 30px;
   height: 316px;
   overflow-x: scroll;
   overflow-y: hidden;
   overscroll-behavior-x: contain;
   scroll-snap-type: x proximity;
}

/*Footer*/

.footer-section {
   width: 100%;
   height: 150px;
   font-size: 1.4rem;
   line-height: 2.8rem;
   font-weight: 500;
   color: var(--just-white);
   display: flex;
   background-color: var(--bitcoin-orange);
}

.footer-section-left {
   width: 50%;
   height: auto;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

.footer-box-left {
   display: flex;
   flex-direction: column;
   width: 50%;
   list-style: none;
}

.footer-section-right {
   width: 50%;
   height: auto;
   display: grid;
   place-content: center;
}

.anchor-tags {
   color: var(--just-white);
   text-decoration: none;
}

.footer-section-right span {
   display: block;
   width: 65px;
   height: 65px;
   background-image: url(./assets/img/logo-footer.svg);
   background-repeat: no-repeat;
   background-position: center;
}








 


   










    
    