.main-product-detail {
    height: auto;
    padding-bottom: 50px;
}

.main-cards-detail {
    display: flex;
    flex-wrap: wrap;
    width: 930px;
    margin: 0 auto;
}

.bitcoin-image-container {
    height: 300px;
}